<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:app-configuration.xml,classpath*:jpa-configuration.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!--  
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <async-supported>true</async-supported>
  </filter>
  -->
  <!--  
  <filter>
    <filter-name>httpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  -->
  <!-- Reads request input using UTF-8 encoding -->
  <!--  
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  -->
  <!--  
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  -->
  <!--  
  <filter-mapping>
    <filter-name>httpMethodFilter</filter-name>
    <servlet-name>matrix-mall-core</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->
  <!-- Handles all requests into the application -->
  <servlet>
    <servlet-name>matrix-mall-core</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>matrix-mall-core</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!--
  <session-config>
    <session-timeout>1</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
      <max-age>0</max-age>
    </cookie-config>
  </session-config>
  -->
  <!-- error pages -->
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error/404.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/error/error.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error/error.html</location>
  </error-page>
  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/error/error.html</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/WEB-INF/error/error.html</location>
  </error-page>
  <error-page>
    <error-code>504</error-code>
    <location>/WEB-INF/error/error.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/error/error.html</location>
  </error-page>
</web-app>
